<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ .Description }}">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h1 class="pagetitle"><span>Manav</span> Ponnekanti</h1>
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/notes/">Notes</a></li>
                <li><a href="/index.xml">RSS</a></li>
            </ul>
        </div>
        <div class="content">
            {{ block "content" . }}{{ end }}
        </div>
    </div>
<script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
</body>
</html>